:root {
    --bg-primary-btn: #6e0ad6;
    --tx-primary: #3c4453;
    --cl-border: #3c4453;
}

body {
    color: var(--tx-primary);
    font-family: Roboto,Arial,Helvetica,sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    overflow-x:hidden;
}

.header-container {
    height: 80px;
    width: 100%;
    background-color: #FFF;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    display: flex;
    gap: 15px;
    align-items: center;
}

.header-menu ul {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
}

.header-menu ul a {
    text-decoration: none;
}

.header-menu ul li {
    list-style: none;
}

button {
    border: none;
    border-radius: 8px;
    color: #fff;
}

.btn-login {
    background-color: var(--bg-primary-btn);
    font-weight: 700;
    padding: 12px 24px;
}


.banner-home img {
    width: 100%;
    border-radius: 0 67px 5px 0 ;
    box-shadow: 0 2px 24px rgb(0 0 0 / 16%);
}

.form-simulation {
    margin-top: 30px;
    max-width: 400px;
}

.select-vehicle {
    margin-bottom: 20px;
}

.btns-select-vehicle-type {
    border: solid 1px var(--cl-border);
    border-radius: 8px;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.btn-select-vehicle-type {
    padding: 5px 10px;
    width: 100%;
    background-color: #FFF;
    color: var(--tx-primary);
    font-weight: bold;
    border: solid 1px var(--cl-border);
}

.btn-select-vehicle-type.active {
    color: #FFF;
    background-color: var(--bg-primary-btn);
    border-color:  var(--bg-primary-btn);
}

.form-group {
    margin-bottom: 20px;
}
.btn-simulation {
    background-color: var(--bg-primary-btn);
    width: 100%;
    padding: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

.section-title h2{
    font-weight: bold;
}


.card-separation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    background-color: var(--bg-primary-btn);
    color: #FFF;
    padding-right: 50px;
    text-decoration: none;
}

.card-separation:hover {
    color: #FFF;
}

.card-separation-img img {
    border-radius: 30px 0 0 30px;
}

.card-separation-title {
    font-weight: bold;
}

.card-vehicles {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 20px;
    width: 100%;
}

.card-vehicle {
    box-shadow: 0 2px 24px rgb(0 0 0 / 16%);
    padding-left: 0;
    display: flex;
    min-width: 500px;
    /* min-height: 175px; */
}

/* .card-vehicle img {
    max-width: 245px;
    min-height: 175px;
} */

.card-vehicle-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 10px 24px;
}

.card-vehicle-title {
    font-size: .875rem;
    /* line-height: 1.43; */
    display: inline;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;


}

.card-vehicle-price {
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap;
}

.card-vehicle-currency {
    cursor: text !important;
    text-decoration: none !important;
}

.card-vehicle-information {
    font-size: 12px;
    margin-bottom: 5px;
}

.card-vehicle-information .svg-icon {
    margin-top: -5px;
    min-height: 20px;
    max-width: 20px;
}

.section-action-btns {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;

}

.section-btn {
    padding: 10px;
    background-color: transparent;
    border: solid 1px var(--bg-primary-btn);
    color: var(--bg-primary-btn);
    margin-left: 10px;
    height: 32px;
    padding: 2px;
    width: 32px;
}



/* SIDBAR FLIGHTS */

.sidbar-flights {
    background-color: #6e0ad6;
    color: #FFF;
    padding: 20px;
    border-radius: 30px;
}

/* CARD VOO */
.row-sentido-voo {
    display: flex;
    flex-direction: row;

    width: 100%;
    gap: 25px;

}

.sentido-voo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #767e89;
    margin-bottom: 10px;
}

.sentido-voo img {
    max-width: 75px;
    margin-right: 10px;
}

.sentido-voo span {
    color: #545962;
    font-weight: bold;
    margin-right: 10px;
}

.conexoes {
    color: #545962;
    font-size: 12px;
}
